<div class="page">
    <h1 *ngIf="!nUser" class="pageTitle">Users</h1>
    <h1 *ngIf="nUser" class="pageTitle">New user</h1>
    <div *ngIf="!nUser" class="createUser" (click)="newUser()">
        <img [src]="plus">
        <h2>Add User</h2>
    </div>
    <div *ngIf="nUser" class="createUser backButton" (click)="newUserBack()">
      <img [src]="minus">
      <h2>Back</h2>
  </div>
    <img [src]="topBar" class="topBar">

    <!---  Create User  -->
    <div class="newUser" *ngIf="nUser">
      <form [formGroup]="createUser" (ngSubmit)="onSubmit()">
        <formly-form
          [form]="createUser"
          [model]="model"
          [fields]="fields">
        </formly-form>
        
        <!-- <button class="btn btn-primary" type="submit">
          Submit
        </button>

        <button class="btn btn-danger" type="reset">
          Reset
        </button> -->
        <ngx-treeview
          [items]="items"
        >
        </ngx-treeview>

      </form>
    </div>

</div>