  <!--      LOGO     -->
  <div class="logoPosition">
    <img [src]="logo" class="logoSize" title="Ardmo">
  </div>
  <div class="navBar">
    <div class="navInline home" routerLink="Home" (click)="resetMenu()">
      <div class="icons">
        <img [src]="home" title="Home">
      </div>
      <h4>Home</h4>
    </div>

    <div *ngIf="noOption">
      <div class="navInline opacity" (click)="option_BS()">
        <div class="icons">
          <img [src]="business" title="Business">
        </div>
        <h4>Business</h4>
      </div>
    </div>

    <!-- Business system selected -->
    <div *ngIf="nBS">
      <div class="selected">
        <!--   Business    -->
        <div class="navInline sel" (click)="option_BS()">
          <div class="icons">
            <img [src]="business" title="Business">
          </div>
          <h4>Business</h4>
        </div>
        <!--   Quoting    -->
        <div class="navInline opacity" routerLink="Quoting">
          <div class="icons">
            <img [src]="quoting" title="Quoting">
          </div>
          <h4>Quoting</h4>
        </div>
        <!--   Jobs    -->
        <div class="navInline opacity" (click)="option_BS()">
          <div class="icons">
            <img [src]="jobs" title="Jobs">
          </div>
          <h4>Jobs</h4>
        </div>
        <!--   Clients    -->
        <div class="navInline opacity" (click)="option_BS()">
          <div class="icons">
            <img [src]="clients" title="Clients">
          </div>
          <h4>Clients</h4>
        </div>
        <!--   Invoices    -->
        <div class="navInline opacity" (click)="option_BS()">
          <div class="icons">
            <img [src]="invoice" title="Invoices">
          </div>
          <h4>Invoices</h4>
        </div>
      </div>
    </div>
    <!-- Business system END -->

    <!-- Users -->
    <div *ngIf="hideIcons()" class="navInline opacity" routerLink="Users">
      <div class="icons">
        <img [src]="users" title="Users">
      </div>
      <h4>Users</h4>
    </div>

    <!-- Logout -->
    <div class="navInline opacity logout" (click)="option_BS()">
      <div class="icons">
        <img [src]="logout" title="Logout">
      </div>
      <h4>Logout</h4>
    </div>
  </div>