.logoPosition{
        position: fixed;
        right:4vh;
        top:2vh;
        width:16vh;
        height:11vh;
        z-index:999;        
        .logoSize{
                height:11vh; 
        }
}
.navBar{
        width:7vh;
        height:100vh;
        position: fixed;
        left:0;
        top:0;
        background-color:#007DCB;
        transition: 0.5s;
        z-index:999;
        .home{
                background-color:#009CF2;
        }
        .navInline{
                width:100%;
                height:7.3vh;
                cursor: pointer;
                float:left;
        }
        h4{
                display:none;
                color:#FFFFFF;
                position: absolute;
                padding-top:1.8vh;
                margin-top:0 !important;
                margin-bottom:0 !important;
        }
        .icons{
                width:auto;
                margin-top:0 !important;
                margin-bottom:0 !important;
                cursor:pointer;
                margin-left:0;
                margin-right:0;
                margin:0 auto;
                float:left;

                img{
                        width:6.8vh;
                }
        }
}
.navBar:hover{
        width:20.5vh !important;
        overflow:hidden;
        h4{
                display:inline !important;
                font-size:3.5vh;
        }
        .icons:first-child{
                height:7.8vh;
        }
        .icons{
                padding-top:1vh !important;
                img{
                        width:5vh;
                }
        }
        .opacity{
                opacity: 0.8;
        }
        .opacity:hover{
                opacity:1 !important;
        }
}

.selected{
        .sel{
                background-color: #175690;
        }
}

.logout{
        position: absolute !important;
        bottom:0 !important;
}