body{
    background-color: #e8e8e8;
    line-height: 0 !important;
    font-size:0 !important;
}
body, html {
    height: 100%;
}

  /* width */
::-webkit-scrollbar {
    width: 1.1vh;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.5vh grey; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#007DCB; 
    box-shadow: inset 0 0 0.5vh grey; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #175690; 
    box-shadow: inset 0 0 0.5vh grey; 
  }

.page{
    position: absolute;
    top:0;
    left:4vh;
    right:0;
    margin:0 auto;
    width:70vw;
    min-height: 100%;
    background-color: #FFFFFF;

    .topBar{
        width:70%;
        height: 1.5vh;
    }

    .pageTitle{
        margin-top:1vh !important;
        margin-bottom:1vh !important;
        margin-left:2vw;
        color:#007DCB;
        font-weight: 700;
        font-size:4.5vh;
    }
}
.titleContainer{
    width:100%;
    height:8vh;
    background-color:#009CF2;
    position:absolute;
    color:#FFFFFF;
    h1{
        margin-top:1.2vh !important;
        margin-left:2vh;
    }
}

form{
    font-size:2.5vh !important;

    label{
        margin-top:1vh !important;
        color:#007dcb !important;
        margin-bottom:1vh !important;
    }
    input{
        margin-top:1vh !important;
        margin-bottom: 1vh !important;
        color:#000000 !important;
        width:16vw !important;
        height:6vh !important;
        border-radius:0 !important;
    }
    formly-validation-message{
        font-size:2vh !important;
        color:red !important;
        position: absolute;
    }
    span{
        color:red !important;
    }
    .has-error .form-control {
        border-color:red !important;
    }
    input[type=checkbox]{
        border-radius: 0 !important;
        width:2vh !important;
        height:2vh !important;
        margin-right:1vh !important;
    }
    .form-control {
        padding: 1vw 1vh !important;
        font-size: 2.2vh !important;
        line-height: 2vh !important;
        border: 0.2vh solid #ccc !important;
        border-radius: 0 !important;
        -webkit-box-shadow: inset 0 0.1vh 0.1vh rgba(0,0,0,.075) !important;
        box-shadow: inset 0 0.1vh 0.1vh rgba(0,0,0,.075) !important;
    }
    .form-group {
        margin-bottom: 2vh !important;
    }
    input[type="date"] {
        padding-inline-start: 1vh !important;
    }
}